<!DOCTYPE html>
<head>
	<title>Preston Richey | Vine Diptych</title>
	<style>
		body {
			margin: 4em 2em;
			text-align: center;
		}
		p {
			font-family: 'Courier New';
			font-size: 18px;
			text-decoration: normal;
  			background-color: #fff;
		}
		a {
			text-decoration: none;
			font-weight: normal;
			color: #00f;
			border-bottom: 2px solid transparent;
		}

		a:hover {
			color: #888; 
			border-bottom-color: #888;
		}
	</style>
</head>
<body>
	<div class="main">
		<iframe class="vine-embed" src="https://vine.co/v/hrLxQXYhYI1/embed/simple" width="600" height="600" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
		<iframe class="vine-embed" src="https://vine.co/v/hrLxxDzgrU5/embed/simple" width="600" height="600" frameborder="0"></iframe><script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>
	</div>
	<p>(<a href="http://plr-about.herokuapp.com/">back</a>)</p>
</body>
</html>