<html>
<style = "text/css">
	html {max-width: 1600px;}
	body {font-family: 'Courier New'; text-align: center; text-decoration: normal;}
	body h1{margin-top: 20px; margin-bottom: 20px;}
	/*.pix {margin: auto;}*/
	img {text-decoration: none; width: 90%; height: auto; margin: 0px; padding: 1px;}
	a {
		text-decoration: none;
		font-weight: normal;
		color: #00f;
	}

	a:hover {
		color: #888; 
	}
</style>
<head><title>Preston Richey | 099</title></head>
<body>
	<a href="http://plr-about.herokuapp.com/099"><h1>099</h1></a>
	{% for url in urls %}
		<a href="{{url[0]}}"><img src="{{url[1]}}"></a>
	{% endfor %}
	<br>
	<p>
		{% for page in range(1, pages + 1) %}
			<a href="http://plr-about.herokuapp.com/099/{{page}}">{{page}}</a>
		{% endfor %}
	</p>
</body>